.Header {
    background-color: var(--accent);
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: var(--max-content-width);
    transform: translateX(-50%);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 var(--content-padding);
        height: var(--navbar-height);
        align-items: center;
    }

    &__logo svg {
        width: 55px;
        height: 55px;
    }

    &__balance {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
            color: var(--white);
            font-size: 18px;
        }

        svg {
            width: 36px;
            height: 36px;
        }
    }
}